
[Theme]
Name=Rainbow

[Background]
Type=full
Color1=#1212c0c02f2f
Color2=#ffff00000000
Color3=#00000000ffff
Color4=#d2f6d2f610b5

[Frame]
Style=simple-with-shadow
Color=#ffffffffffff

[Header]
Font=Sans 22
Color=#ffffffffffff

[Footer]
Font=Sans Bold 12
Color=#ffffffffffff

[Caption]
Font=Sans 8
Color=#ffffffffffff
