!help/**/*.po
!help/C/
!pix/pix.gresource.xml
*.extension
*.gmo
*.la
*.lo
*.o
*.valid
*.xml
*enum-types.*
.libs/
AUTHORS.tab
Makefile
Makefile.in*
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/pix-*.pc
data/pix-import.desktop
data/pix-import.desktop.in
data/pix.desktop
data/pix.desktop.in
debhelper-build-stamp
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/autoreconf.*
debian/files
debian/pix-data/
debian/pix-dbg/
debian/pix-dev/
debian/pix/
debian/tmp/
depcomp
help/**/*
install-sh
intltool.m4
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
pix/gth-marshal.c
pix/gth-marshal.h
pix/gth-resources.c
pix/gth-resources.h
pix/pix
pix/pix.h
po/.intltool-merge-cache
po/.intltool-merge-cache.lock
po/POTFILES
po/stamp-it
stamp-h1
