[Theme]
Name=Default

[Background]
Type=full
Color1=#e0d3c0
Color2=#b1c3ad
Color3=#e8e8ea
Color4=#bad8d8

[Frame]
Style=simple-with-shadow
Color=#94d6Cd

[Header]
Font=Arial 22
Color=#D5504A

[Footer]
Font=Arial Bold 12
Color=#394083

[Caption]
Font=Arial 10
Color=#414141
