
[Theme]
Name=Minimalist

[Background]
Type=solid
Color1=#ffffffffffff

[Frame]
Style=shadow
Color=#000000000000

[Header]
Font=Sans 22
Color=#000000000000

[Footer]
Font=Sans Bold 12
Color=#000000000000

[Caption]
Font=Sans 8
Color=#000000000000
